*, *:before, *:after {
  box-sizing: border-box;
}

body {
  font-size: 18px;
  font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
}



.container {
  width: 375px;
}

.status-bar {
  position: fixed;
  top: 0;
}

.header {
  padding-left: 0%;
  padding-right: 3%;
  width: 375px;
  position: fixed;
  top: 0;
  z-index: 1;
  background: #BBCDD4;
}

.fa-chevron-left {
  display: inline-block;
  padding-bottom: 10px;
padding-left: 3.5%;
  margin-top: 50px;
  color: #007AFF;
}

.back {
  color: #007AFF;
  display: inline-block;
}

h1{
  font-size: 18px;
  float: center;
  font-weight: normal;
  padding-bottom: 18px;
  padding-left: 35px;
  display: inline-block;
}

.list {

  padding: 2% 3% 2% 3%;
  box-sizing:border-box;
  background-color: rgba(255,255,255, 0.8);
  border-radius: 10px 10px 0 0;
  position: relative;
}

.rtColumn {
	width: 15%;
	display: inline-block;
	text-align: left;
}

.row {
  height:70px;
  width:20%;
  display: inline-block;
  text-align: left;
  padding-top: 9px

}

.inner {
	display: inline-block;
	vertical-align: middle;
}

.number {
  font-size: 24px;
  font-weight: bold;
  color: #000000;
  padding-bottom: 2px;
	padding-top: 4px
}

.direction {
  font-size: 14px;
  font-weight: normal;
  color: #007AFF;
  padding-bottom: 2px;
}


.destination {
  height: 40px;
  font-size: 16px;
  font-weight: normal;
  color: #000000;
  text-align: left;
  display: inline-block;
  float: center;
  padding: 3px 0 10px 0;
}

.now {
  height: 34px;
  font-size: 20px;
  font-weight: bold;
  color: #4FBA61;
  text-align: right;
  display: inline-block;
  float: right;
  padding: 23.5px 0 23.5px 0;
}

.time {
  height: 34px;
  font-size: 20px;
  font-weight: normal;
  color: #4FBA61;
  text-align: auto;
  display: inline-block;
  float: right;
  padding:  22px 0 23.5px 0;
}

.minutes {
  font-size: 14px;
  font-weight: normal;
  color: #4FBA61;
}

.row-RR {
  height:70px;
  width: 20%;
  display: inline-block;
  text-align: left;
  padding-top: 9px;
}

.row-RR .direction{
  color: #FF2D55;
}

 .time-RR {
   height:60px;
   font-size: 18px;
   font-weight: normal;
   color: #FF2D55;
   text-align: right;
   display: inline-block;
   float: right;
   padding: 26px 0 23.5px 0;
 }

 .row-OS {
   height:70px;
   width:20%;
   display: inline-block;
   text-align: left;
   padding-top: 9px;
 }

 .row-OS .number, .row-OS .direction, .row-OS .destination {
   color: #8E8E93;
 }

.destination-OS {
  height: 40px;
  font-size: 16px;
  font-weight: normal;
  color: #8E8E93;
  text-align: left;
  display: inline-block;
  float: center;
  padding: px 0 10px 0;
}

 .time-OS {
   height:60px;
   font-size: 12px;
   line-height: 18px;
   font-weight: normal;
   color: #8E8E93;
   text-align: right;
   display: inline-block;
   float: right;
   padding: 17px 0 25px 0;
   width: 36%;
 }
